@import '~@angular/material/theming';

@include mat-core();

$global-theme-app-primary: mat-palette($mat-grey, 900);
$global-theme-app-accent: mat-palette($mat-teal);
$global-theme-app-warn: mat-palette($mat-red);
$global-theme-app-theme: mat-dark-theme($global-theme-app-primary, $global-theme-app-accent, $global-theme-app-warn);

@include angular-material-theme($global-theme-app-theme);
