.mat-card {
  justify-content: center;
  width: 65rem;
  height: 80%;
  padding-bottom: 0;
  padding-top: 0;
  background-color:  #FAFAFA;
}

section {
  display:flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  background-color: #35393c;
}
