.mat-card {
  justify-content: center;
  width: 65rem;
  height: 80%;
  background-color:  #FAFAFA;
}

section {
  display:flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  background-color: #35393c;
}

img {
  width: 7rem;
  height: 7rem;
  margin-right: 50px;
}

.acoes {
  margin-bottom: 15px;
  display: flex;
}
